footer{
    color: $color-white;
    background-color: $color-footer;
    padding: 1.5rem;
    .footer__title{
        margin: 0;
        margin-bottom: 1.5rem;
    }
    ul{
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        @include tabletANDdesktop{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
        @include tablet-only{
            flex-direction: column;
            height: 3rem;
        }
        li{
            font-size: 0.925rem;
            margin-bottom: 0.3rem;
            @include tabletANDdesktop{
                width: 50%;
            }
            @include desktop-only{
                width: 25%;
            }
            a{
                color: $color-white;
                text-decoration: none;
                i{
                    font-size: 0.825rem;
                    margin-right: 0.825rem;
                }
            }
        }
    }
}