footer{
    color: $color-white;
    background-color: $color-footer;
    padding: 1.5rem 5%;
    & .footer__logo{
        filter: invert(1);
        height: 1rem;
        width: auto;
        margin-bottom: 1rem;

    }
    ul{
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        @include MediumAndLargeScreen{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
        @include MediumScreen-only{
            flex-direction: column;
            height: 3.5rem;
        }
        li{
            margin-bottom: 0.4rem;
            @include MediumScreen-only{
                width: 50%;
            }
            @include LargeScreen-only{
                width: 25%;
            }
            a{
                color: $color-white;
                text-decoration: none;
                .fas{
                    margin-right: 0.5rem;
                }
            }
        }
    }
}