/* Formulaire */
form{
   
    padding-bottom: 2rem;
    .form-box{
        margin: 0;
        padding: 0 0.875rem;
        &__title{
            display: block;
            margin: 2rem 0.35rem 2.75rem 0.4rem;
        }
        &__container{
            @include flex-col-gap($size: $gs-d);
        }
    }
    .form-button{
        width: 100%;
        display: flex;
        justify-content: center;
    }/* Bouton Commander */
    @include MediumScreen-only{
        margin: auto;
        width: 80%;
    }
    @include LargeScreen-only{
        margin: auto;
        width: 95%;
        padding: 0.5rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 1.5%;
        .form-box{
            width: 29%;
        }
    }
}

.item{
    border-radius: $radiusS;
    @include shadow($mapKey: mapGetShadow(item), $color: clrBgDken(5%));
    background-color: $color-white;
    padding: 0;
    padding-bottom: 0.25rem;
    overflow: hidden;
    width: 100%;
    & .dish{
        display: flex;
        & input {
            visibility: hidden;
            z-index: -1;
        }
        & .anim-ck{
            z-index: 1;
        }
    }
}


/*-- Animation: apparition progressive des différents plats --*/

$anim-delay: 350ms;
$anim-dur: 1220ms; /* durée totale de l'animation sur un .item */

.form-box{
    animation: hidding 20ms 0ms ease-in-out both, fadeInB 1000ms 220ms forwards;
    @for $i from 1 through 3 {
        &--#{$i}{
            animation-delay: ($anim-delay * 4) * ($i - 1) + $anim-delay * ($i);
            & .item{
                animation: hidding 20ms 20ms ease-in-out both, fadeInI 1000ms 220ms forwards, moveUp 1000ms 220ms forwards;
                @for $j from 1 through 4 {
                    &--#{$j}{
                        animation-delay: $anim-delay * $j + ($anim-delay * 4) * ($i - 1) + $anim-delay * ($i);
                    }
                }
            }
        }
    }
}

@keyframes hidding{
    0%, 100% {
        opacity: 0;
    }
}

@keyframes fadeInB {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeInI {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0.05;
    }
    100%{
        opacity: 1;
    }
}

@keyframes moveUp{
    0%{
        transform: translateY(0em);
        }
    100%{
        transform: translateY(-1em);
    }
}