header{
    width: 100%;
    padding-top: 1.25rem;
    padding-bottom: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 3px 2px darken($color-background, 15);
    .header{
        &__link--back{
        position: absolute;
        left: 10px;
        color: #000;
        }
        &__logo{
            width: 10rem;
        }
    }
}
