.restaurants__container{
    @include flex-col-gap;
    padding-bottom: 1rem;
    @include MediumAndLargeScreen{
        flex-flow: wrap row;
        justify-content: space-between;
        row-gap: 2rem;
    }
}