footer{
    color: colortext($color: $color-background);
    background-color: darken($color-background, 75%);
    ul{
        list-style-type: none;
    }
    a{
        color: colortext($color: $color-background);
        text-decoration: none;
    }
}