header{
    width: 100%;
    padding-top: 1.25rem;
    padding-bottom: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 5px 3px darken($color:$color-background, $amount: 10);
    a{
        position: absolute;
        left: 10px;
    }
    img{
        height: 1.875rem;
    }
}

