header{
    width: 100%;
    padding-top: 1.25rem;
    padding-bottom: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 3px 2px darken($color-background, 15);
    a{
        position: absolute;
        left: 10px;
    }
    img{
        width: 10rem;
    }
}
