.btn{
    display: block;
    text-align: center;
    color: $color-white;
    background-image: $gradient;
    text-decoration: none;
    padding: $padBouton;
    border-radius: $radius2XL;
    @include shadow($mapKey: mapGetShadow(bouton), $color: clrBgDken(25%));
    position: relative;
    z-index:1;
    &--form{
        border: none;
    }
    &:hover {
        &::after{
            opacity: 1;
        }
    }
    &::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $gradient;
        filter: brightness(1.15);
        border: none;
        @include shadow($mapKey: mapGetShadow(boutonAft), $color: clrBgDken(75%));
        border-radius: $radius2XL;
        opacity: 0;
        z-index: -1;
        transition: opacity 300ms cubic-bezier(.17,.67,.25,1.1);
    }
}