.cardbox{
    position: relative;
    @include MediumScreen-only{
        min-width: 48%;
    }
    @include LargeScreen-only{
        width: 23%;
    }
}

.card{
    z-index: 1;
    display: block;
    text-decoration: none;
    position: relative;
    @include shadow($mapKey: mapGetShadow(card), $color: clrBgDken(5%));
    border-radius: $radiusM;
    background-color: $color-white;
    &__img{
        width: 100%;
        height: 10rem;
        object-fit: cover;
        object-position: 50% 95%;
        border-radius: $radiusM $radiusM 0 0;
    }
    &__bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.825rem 0.75rem;
        color: $color-black;
        & .info{
            h3, p{
                margin: 0;
            }
            h3{
                margin-bottom: 0.2rem;
            }
        }
    }
    .new{
        margin: 0;
        position: absolute;
        top: 0.875rem;
        right: 0.875rem;
        padding: 0.4rem 0.725rem 0.3rem 0.725rem;
        background-color: $color-tertiary;
        border-radius: $radiusXS;
        color: adjust-color($color: $color-tertiary, $saturation: 32%, $lightness: -41%);
    }
}