.cardbox{
    position: relative;
}

.card{
    z-index: 1;
    display: block;
    text-decoration: none;
    position: relative;
    @include shadow(0, 0.3rem, 0.3rem, darken($color-background, 5%));
    @include rounded-corner;
    background-color: $color-white;
    &__img{
        width: 100%;
        height: 10rem;
        object-fit: cover;
        object-position: center;
        border-radius: 1rem 1rem 0 0;
    }
    &__bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.825rem 0.5rem;
        color: black;
        & .info{
            h3, p{
                margin: 0;
            }
            h3{
                margin-bottom: 0.2rem;
            }
        }
    }
    .new{
        margin: 0;
        position: absolute;
        top: 0.875rem;
        right: 0.875rem;
        padding: 0.4rem 0.725rem 0.3rem 0.725rem;
        background-color: $color-tertiary;
        @include rounded-corner($size:0.1rem);
        color: adjust-color($color: $color-tertiary, $saturation: 32%, $lightness: -41%);
    }
}

