.heart{
    cursor: pointer;
    border: none;
    background-color: white;
    &--InCard{
        position:absolute;
        bottom: 1.5rem;
        right: 1.5rem;
        padding: 0.05rem 0.1rem;
        z-index: 2;
        & .fa-heart{
            &--filled{
                right: 0.1rem;  
            }
        }
    }
    &--InTitle{
        background-color: $color-background;
        position: relative;
        & .fa-heart{
            &--filled{
                right: 0;     
            }
        }
    }
    & .fa-heart{
        color: $color-primary;
        display: block;
        bottom: 0;
        &--edge{
            color: #000;
            opacity: $opaHeart;
        }
        &--filled{
            position: absolute;
            opacity: $opaHeart-inv;
            @include heartFilled;      
        }
    }
    &:hover{
        & .fa-heart{
              &--edge{
                  opacity: $opaHeart-inv;
                  transition: 1500ms ease-in-out;
              }
              &--filled{
                  opacity: $opaHeart;
                  transition: 1500ms ease-in-out;
              }  
        }
    }
}