$icoNum: o;
$icoImg: \f3cd, \f0ca, \f54e;



ol{
    .li--fct{
        z-index: 1;
        display: inline-flex;
        line-height: 4rem;
        width: 100%;
        opacity: 1;
        padding-top: 0.25rem;
        align-items: center;
        position: relative;
        background-color: $color-background;
        @include rounded-corner($size: 1.25rem);
        @include shadow(0, 0.25rem, 0.875rem, darken($color-background, 10%));
        &::after{
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            z-index: -1;
            opacity: 0;
            height: 100%;
            width: 100%;
            background-color: lighten($color: $color-primary, $amount: 35%);
            @include rounded-corner($size: 1.25rem);
            @include shadow(0, 0.25rem, 0.875rem, darken($color-background, 10%));
        }
        & .fas{
            position: relative;
            width: 1.5rem;
            height: 1rem;
            margin: 0;
            &::after{
                position: absolute;
                top: 0;
                left: 0;
            }
            &--number{
                margin-left: -0.75rem;
                margin-right: 1rem;
                &::after{
                    background-color: $color-primary;
                    color: $color-background;
                    @include rounded-corner;
                    width: 1.5rem;
                    padding-top: 0.45rem;
                    padding-bottom: 0.25rem;
                    text-align: center;
                    margin-left: 0rem;
                }
                @for $i from 1 through 3 {
                    &--#{$i}{
                        &::after{
                            content: '#{$i}';
                            opacity: 1; 
                        }
                    }
                }
            }
            &--img{
                margin-right: 1rem;
                color: darken($color: $color-background, $amount: 50%);
               
                &::after{
                    font-family: "Font Awesome 5 Free";
                    color: $color-primary;
                }
                @for $i from 1 through 3 {
                    &--#{$i}{
                        &::after{
                            content: '#{nth($icoImg, $i)}';
                            opacity: 0;
                        }
                    }
                }
            }
        }
        &:hover{
            &::after{
                opacity: 1;
            }
            & .fas--img{
                &::after{
                    opacity: 1;
                }
            }
        }
    }
}