$icoImg: \f3cd, \f0ca, \f54e;

ol{
    .li--fct{
        z-index: 1;
        display: inline-flex;
        height: 4.25rem;
        width: 100%;
        opacity: 1;
        padding-top: 0.15rem;
        align-items: center;
        position: relative;
        background-color: $color-background;
        border-radius: $radiusL;
        @include shadow($mapKey: mapGetShadow(liFct), $color: clrBgDken(10%));
        &::after{
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            z-index: -1;
            opacity: 0;
            height: 100%;
            width: 100%;
            background-color: lighten($color: $color-primary, $amount: 35%);
            border-radius: $radiusL;
            @include shadow($mapKey: mapGetShadow(liFct), $color: clrBgDken(10%));
        }
        & .fas{
            position: relative;
            width: 1.5rem;
            height: 1rem;
            margin: 0;
            &::after{
                position: absolute;
                top: 0;
                left: 0;
            }
            &--number{
                width: 1.5rem;
                height: 1rem;
                margin-left: -0.75rem;
                margin-right: 1.25rem;
                margin-bottom: 0.25rem;
                &::after{
                    background-color: $color-primary;
                    color: $color-background;
                    border-radius: $radiusM;
                    width: 1.4rem;
                    padding-top: 0.4rem;
                    padding-bottom: 0.2rem;
                    text-align: center;
                    margin-left: 0.05rem;
                    
                }
                @for $i from 1 through 3 {
                    &--#{$i}{
                        &::after{
                            content: '#{$i}';
                            opacity: 1; 
                        }
                    }
                }
            }
            &--img{
                width: 1.5rem;
                height: 1.25rem;
                margin-top: 0.25rem;
                margin-right: 1rem;
                color: clrBgDken(50%);
                &--1{
                    margin-bottom: 0.15rem;
                }
                &--2{
                    width: 1rem; 
                    overflow: hidden;
                    margin-right: 1.5rem;
                }
                &::after{
                    font-family: "Font Awesome 5 Free";
                    color: $color-primary;
                }
                @for $i from 1 through 3 {
                    &--#{$i}{
                        &::after{
                            content: '#{nth($icoImg, $i)}';
                            opacity: 0;
                        }
                    }
                }
            }
        }
        &:hover{
            &::after{
                opacity: 1;
            }
            & .fas--img{
                &::after{
                    opacity: 1;
                }
            }
        }
    }
    .li-text{
        display: inline-block;
        margin-bottom: -0.15rem;
    }
}