$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background: #f6f6f6;
$color-white: #fff;
$color-footer:#535353;

$font-text: 'Roboto';
$font-logo: 'Shrikhand';


$font-size: 16px;

$gap-size: 1rem;

$radius: 1rem;
