/*-- typography valable partout --*/
body{
    font-size: $fs-d;
    font-weight: map-get($map: $fw, $key: regular);
}

/*-- typography Layout _footer --*/
footer{
    & li{
        font-size: 1rem;
        font-weight: map-get($map: $fw, $key: regular);
        transform: scaleY(1.05);
        letter-spacing: 0.02rem;
        & a{
            font-size: 0.875rem;
            & .fas{
                font-size: 0.75rem;
            }
            & .fa-hands-helping{
                transform: scaleX(0.75);
            }
        }
    }
}

/*-- typography Layout _form --*/
form{
    & .form-box{
        &__title{
            font-size: map-get($map: $fsTitles, $key: formBox);
            font-weight: map-get($map: $fw, $key: regular);
            text-transform: uppercase;
        }
    }
}



/*-- typography Components _animChecked --*/
.anim-ck{
    .info{
        &__description{
            &--title{
                font-size: map-get($map: $fsAnimCk, $key: title);
                font-weight: map-get($map: $fw, $key: bold);
            }
            &--details{
                font-size: map-get($map: $fsAnimCk, $key: details);
            }
        }
        &__price{
            font-size: map-get($map: $fsAnimCk, $key: details);
            font-weight: map-get($map: $fw, $key: bold);
        }
    }
}


/*-- typography Components _bouton --*/
.btn{
    font-size: map-get($map: $fs, $key: bouton);
    font-weight: map-get($map: $fw, $key: regular);
    letter-spacing: 0.02rem;
}


/*-- typography Components _card --*/
.card{
    &__bottom{
        .info{
            h3{
                font-size: map-get($map: $fsCard, $key: title);
                font-weight: map-get($map: $fw, $key: bold);
            }
            p{
                font-size: map-get($map: $fsCard, $key: place);
            }
        }
    }
}

.card{
    & .new{
        font-size: map-get($map: $fs, $key: new);
        font-weight: map-get($map: $fw, $key: medium);
    }
}


/*-- typography Components _heart --*/
.heart{
    & .fa-heart{
        font-size: map-get($map: $fs, $key: heart);
        transform: scale(1.1, 1.2);
    }
}


/*-- typography Components _liFct --*/
.li__text{
    font-size: map-get($map: $fsLiFct, $key: text);
    font-weight: map-get($map: $fw, $key: bold);
}

.li--fct{
    & .fas{
        &--number{
            &::after{
                font-family: $font-text;
                font-size: map-get($map: $fsLiFct, $key: nbAfter);
            }
        }
        &--img{
            font-size: map-get($map: $fsLiFct, $key: img);
            &::after{
                font-size: map-get($map: $fsLiFct, $key: imgAfter);
            }

        }
    }
}


/*-- typography Pages _home --*/
.localisation__top{
    & .place{
        font-size: $fs3;
        
        & .fas{
            font-size: $fs-d; 
        }
        &__text{
            font-weight: map-get($map: $fw, $key: bold);
        }
    }
}
.localisation__bottom{
    & h1{
        font-size: map-get($map: $fsTitles, $key: localisation);
        font-weight: map-get($map: $fw, $key: black);
    }
    & > p{
        font-size: $fs5;
        font-weight: map-get($map: $fw, $key: light);
        letter-spacing: -0.01rem;
    }
    & .btn{
        font-size: map-get($map: $fs, $key: bouton);
    }
}

.main--index{
    & h2{
        font-size: map-get($map: $fsTitles, $key: mainh2);
        font-weight: map-get($map: $fw, $key: black);
    } 
}


/*-- typography Pages _menu --*/
.restaurant__name{
    & h1{
        font-size: map-get($map: $fsTitles, $key: name);
        @include font-title;
    }
}