/*-- typography valable partout --*/
body{
    font-size: $fs-d;
    font-weight: $fw400;
}

h4{
    @include font-title;
}


/*-- typography Layout _form --*/
form{
    & .form-box{
        &__title{
        font-weight: $fw400;
        text-transform: uppercase;
        }
    }
}


/*-- typography Components _animChecked --*/
.anim-ck{
    .info{
        &__description{
            &--title{
                font-size: 1.0625rem;
                font-weight: $fw600;
            }
            &--details{
                font-size: 0.875rem;
            }
        }
        &__price{
            font-size: 0.875rem;
            font-weight: $fw900;
        }
    }
}


/*-- typography Components _bouton --*/
.btn{
    font-weight: $fw500;
}


/*-- typography Components _card --*/
.card{
    &__bottom{
        .info{
            h3{
                font-size: 1.1rem;
                font-weight: $fw600;
            }
        }
    }
}

.card{
    .new{
        font-size: 0.8rem;
        font-weight: $fw500; 
    }
}


/*-- typography Components _heart --*/
.heart{
    
    & .fa-heart{
        font-size: 1.25rem;
        transform: scale(1.1, 1.2);
    }
}

/*-- typography Components _liFct --*/
.li__text{
    font-size: 1rem;
    font-weight: $fw700;
}


/*-- typography Pages _home --*/
.selection{
    &__localisation{
        font-size: 0.925rem;
        font-weight: $fw600;
        .fas{
            font-size: $fs-d; 
        }
    }
    h1{
        font-size: 1.5rem;
        font-weight: $fw900; 
    }
    > p{
        font-size: 1.1rem; 
    }
    .btn{
        font-size: 0.875rem;
    }
}

.main--index{
    h2{
        font-size: 1.4375rem;
        font-weight: $fw900;
    } 
}


/*-- typography Pages _menu --*/
.restaurant__name{
    h1{
        font-size: 1.825rem;
        @include font-title;
    }
}