.card{
    display: block;
    text-decoration: none;
    position: relative;
    @include rounded-corner;
    background-color: $color-white;
    &__img{
        width: 100%;
        height: 16rem;
        object-fit: cover;
        object-position: bottom;
        border-radius: 1rem 1rem 0 0;
    }
    &__bottom{
        display: flex;
        justify-content: space-between;
    }
    .new{
        position: absolute;
        top: 0.5rem;
        right: 1.5rem;
        padding: 0.4rem 0.8rem 0.4rem 0.8rem;
        background-color: $color-tertiary;
        @include rounded-corner($size:0.1rem);
        color: darken($color-tertiary, 45%);
    }
}

