.dish{
    @include rounded-corner($size:1rem);
    @include shadow(0, 0.3rem, 0.3rem, darken($color-background, 15%));
    background-color: $color-white;
    display: flex;
    /*justify-content: space-between;*/
    &__price{
        font-weight: bold;
        border: 1px solid black;
        margin-bottom: 0;
    }
}