.heart{
    z-index: 2;
    position:absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    padding: 0.05rem 0.1rem;
    cursor: pointer;
    border: none;
    background-color: white;
    &--InTitle{
        background-color: $color-background;
    }
    &:not(:active){
        & .fa-heart{/*
            &--edge{
                animation: fadeIntH 800ms alternate ease-in-out;
            
               animation: fadeInH 800ms ease-in-out paused;
              transition: opacity 1000ms step-end;
            }*/
            &--filled{
                animation: fadeInH 800ms ease-in-out forwards;
           /*     animation: fadeOutH 800ms ease-in-out paused backwards; 
                transition: opacity 1000ms 800ms step-start;*/
            }
        }
    }
    
    &:active{
        & .fa-heart{
            &--edge{
               /* animation: fadeOutH 800ms ease-in-out paused forwards;*/
             /*   animation: fadeInH 800ms ease-in-out running;*/
              /*  transition: opacity 1000ms step-start;*/
               /* animation: fadeInH 40ms ease-in-out;*/
            }/*
            &--filled{
                animation: fadeInH 800ms ease-in-out running forwards;
                animation: fadeOutH 800ms ease-in-out running;
                transition: opacity step-start;
                animation: fadeOnH 400ms ease-in-out;
            }*/
        }
    }

    .fa-heart{
        color: $color-primary;
        display: block;
        &--edge{
            color: #000;
            opacity: 1;
        }
        &--filled{
            position: absolute;
            z-index: -1;
            bottom: 0;
          /*  right: 0.11rem;*/
            opacity: 0;
            background: -webkit-#{$gradient};
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;      
        }
    }
}

@keyframes fadeOutH{
    0%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeInH {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

    /*
    &::after{
        z-index: -1;
        font-family: 'Font Awesome 5 Free';
        content:'\f004';
        opacity: 1;
        transform: scale(1.1, 1.2);
        
        right: 2rem;
    }*/
