
.item{
    @include rounded-corner($size:0.825rem);
    @include shadow(0, 0.3rem, 0.3rem, darken($color-background, 15%));
    background-color: $color-white;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

.dish{
    display: flex;
    width: 120%;
}

input {
    visibility: hidden;
    z-index: -1;
}

.anim-ck{
    box-sizing: border-box;
    z-index: 1;
    margin: 0;
    margin-left: -0.5rem;
    width: 120%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    /*column-gap: 0.5rem;*/
    align-items: center;
    cursor: pointer;
    & .info{
        @include border;
        @include flex-col-gap($size: 0.25rem);
        width: 90%;
        padding: 0.5rem 0 0.5rem 0;
        white-space: nowrap;
        overflow: hidden;
        &__title, &__details{
            @include border;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    & .trslt{
        display: flex;
        width: 35%;
        height: 100%;
        background-color: pink;
        & .price{
            width: 40%;
            text-align: left;
            padding-top: 2rem;
        }
   }
}

.ckbox{
    width: 60%;
    height: 100%;
   /* min-width: 3rem;*/
    padding-top: 1rem;
    padding-bottom: 1rem;
    /*padding-left: 0.8rem;*/
    background-color: $color-tertiary;
    border-radius: 0 $radius-d $radius-d 0;
    position: relative;
    & .checkmark{
        position: absolute;
        top: 1.5rem;
        left: 1rem;
        height: 1.25rem;
        width: 1.25rem;
        background-color: white;
        border-radius: 20rem;
        &::after{
            content:"";
            position: absolute;
            display: none;
        }
    }
}

input[type="checkbox"]:checked ~.anim-ck >.trslt>.ckbox >.checkmark::after{
    display: block;
    top: 0.2rem;
    left: 0.4rem;
    width: 0.25rem;
    height: 0.5rem;
    border: solid $color-tertiary;
    border-width: 0 0.1875rem 0.1875rem 0;
    transform: rotate(46deg);
}


input[type="checkbox"]:checked{
    ~.anim-ck{
        .info{
            &__title, &__details{
            animation: widthI 2s ease-in-out forwards;
            }
        }
        >.trslt{
            animation: moveRight 2s 0ms ease-in-out;
            transform-origin: right;
            animation-fill-mode: forwards;
        }
    }
}

.item{
    animation: hidding 20ms 0ms ease-in-out both, fadeIn 1000ms 200ms forwards;
    @for $i from 1 through 4 {
        &--#{$i} {
            animation-delay: 350ms * $i;
        }
    }
}

   
@keyframes hidding{
    0%, 100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0.05;
    }
    100%{
        opacity: 1;
    }
}


@keyframes widthI{
    from{
        width: 100%;
    }
    to{
        width: 70%;
    }
}

@keyframes moveRight{
    0%{
    transform: translateX(0);
    }
    100%{
    transform: translateX(-50%);
    }
}