@import "../Utils/variables";
@import "../Utils/functions";
@import "../Utils/mixins";


body{
    margin: 0;
    z-index: 1;
    position: relative;
}

/*-- Header --*/
.header__link--back{
    display: none;
}

/*-- Section "Selection" --*/
.localisation{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3.5rem;
    &__name{
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
        padding-top: 0.875rem;
        padding-bottom: 0.875rem;
        background-color: clrBgDken(5%);
        .fas {
            margin-right: $size-d;
        }
        span{
            text-align: left;
        }
    }
    h1{
        width: 70%;
        text-align: center;
        margin-top: 2rem;
        margin-bottom: $size-d;
    }
    > p {
        width: 90%; 
        text-align: center;
        
        margin-top: 0;
        margin-bottom: 2rem;
    }
    .btn{
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

/* Section "Fonctionnement" */
.fonctionnement{
    margin-top: 0;
    padding: $padHome;
    & ol{
        list-style-position: inside;
        @include flex-col-gap($size: 1.75rem);
        padding-left: 0.875rem;
        @include tabletANDdesktop {
            display: flex;
            flex-flow: nowrap row;
            justify-content: space-between;
            column-gap: 2.5rem;
            & li {
                min-width: 30%;
                white-space: nowrap;
            }
        }
    }

    /*
    @media screen and (min-width: 768px) {
        & ol {
            display: flex;
            flex-flow: nowrap row;
            justify-content: space-between;
            column-gap: 2.5rem;
            & li {
                min-width: 30%;
                white-space: nowrap;
            }
        }
    }*/
}

/*-- Section "Restaurants" --*/
.restaurants{
    margin-top: 0;
    padding: $padHome;
    &__container{
        @include flex-col-gap;
        @include tabletANDdesktop {
            flex-flow: wrap row;
            justify-content: space-between;
            row-gap: 2rem;
        }
    }
}

#resto3, #resto4{
    .new{
        display: none;
    }
}