@import "../Utils/variables";
@import "../Utils/functions";
@import "../Utils/mixins";
@import "../Utils/placeholders";

body{
    margin: 0;
    z-index: 1;
    position: relative;

    /*le pseudo-élément ::after imite le Loading spinner pour le moment*/
    &::after{
        content: "";
        width: 100%;
        background-color: red;
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        animation: lspinner 300ms; /* de 1 à 3s */
    }
    & header, main, footer{
        opacity: 1;
        animation: hidding 300ms; /* de 1 à 3s */
    }
}

/* animation "masquer" */
@keyframes hidding{
    0%, 100% {
        opacity: 0;
    }
}
 
/* animation "loading spinner"*/
@keyframes lspinner{
    0%, 100%{
        opacity: 1;
    }
}

/*-- Header --*/
.header__link--back{
        display: none;
}

/*-- Section "Selection" --*/
.selection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3.5rem;
    &__localisation{
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
        padding-top: 0.875rem;
        padding-bottom: 0.875rem;
        background-color: $color-background-dken;
        .fas {
            margin-right: $size-d;
        }
        span{
            text-align: left;
        }
    }
    h1{
        width: 70%;
        text-align: center;
        margin-top: 2rem;
        margin-bottom: $size-d;
    }
    > p {
        width: 90%; 
        text-align: center;
        
        margin-top: 0;
        margin-bottom: 2rem;
    }
    .btn{
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

/* Section "Fonctionnement" */
.fonctionnement{
    margin-top: 0;
    padding: 1.75rem 5%;
    ol{
        list-style-position: inside;
        @include flex-col-gap;
        li{
        @include border;
        background-color: $color-background;
        @include rounded-corner;
        @include shadow(0, 0.3rem, 0.3rem, darken($color-background-dken, 10%));
        }
    }
}

/*-- Section "Restaurants" --*/
.restaurants{
    margin-top: 0;
    padding: 1.75rem 5%;
}

.card-container{
    @include flex-col-gap;
}

#resto3, #resto4{
    .new{
        display: none;
    }
}

.heart{
    position:absolute;
    bottom: 1.5rem;
    right: 1.5rem;}