@import "../Utils/variables";
@import "../Utils/functions";
@import "../Utils/mixins";


/*-- Header --*/
.header__link--back{
    display: none;
}

/*-- Section "Selection" --*/
.localisation{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__top{
        text-align: center;
        width: 100%;
        padding: 0.875rem;
        background-color: clrBgDken(5%);
        & .place{
            position: relative;
            .fas{
                position: absolute;
                top: 0;
                left: -1.75rem;
            }
            &__text{
                text-align: left;
            }
        }
    }
    &__bottom{
        padding: 2.5rem 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        & h1, p{
            text-align: center;
            margin-top: 0;
            margin-bottom: 0.875rem;
        }
        & h1{
            width: 70%;
        }
        & p{
            width: 85%; 
        }
        & .btn{
            margin: 1rem auto;
        }
    }
}

/* Section "Fonctionnement" et "Restaurant" */
.fonctionnement, .restaurants{
    margin-top: 0;
    padding: $padHome;
    & h2{
        margin-bottom: 1.5rem;
    }
}

/* Section "Fonctionnement" */
.fonctionnement{
    & ol{
        padding: 0.25rem 0;
        padding-left: 0.875rem;
        list-style-position: inside;
        @include flex-col-gap($size: 1.75rem);
        @include MediumAndLargeScreen{
            display: flex;
            flex-flow: nowrap row;
            justify-content: space-between;
            column-gap: 1.75rem;
            & li {
                width: 30%;
                white-space: nowrap;
                & .li-text{
                    white-space: pre-wrap;
                }
            }
        }
    }
}

/*-- Section "Restaurants" --*/
#resto3, #resto4{
    .new{
        display: none;
    }
}

#resto2{
    & img{
        object-position: 50% 62%;
    }
}