@import "../Utils/variables";
@import "../Utils/functions";
@import "../Utils/mixins";
@import "../Utils/placeholders";

@import "../Base/fonts";
@import "../Base/typography";

@import "../Components/heart";



/* Div "Restaurant" */
.restaurant{
    position: relative;
    img{
        width: 100%;
        height: 20rem;
        object-fit: cover;
    }
    &__name{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: $color-background;
        border-radius: 1.5rem 1.5rem 0 0;
        /*border: 1px solid black;*/
        h1{
            @include font-title;
            border: 1px solid black;
        }
    }
}

/* Bouton Commander */
p{
    display: flex;
    justify-content: center;
}

/* Formulaire */

.box__title{
    font-size: 1.275rem;
    text-transform: uppercase;
    display: block;
    margin: 1.5rem $size-d;
}

.container{
    @include flex-col-gap($size: $gs-d);
}


/* .item */

.item{
    @include rounded-corner($size:0.825rem);
    @include shadow(0, 0.3rem, 0.3rem, darken($color-background, 15%));
    background-color: $color-white;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

.dish{
    display: flex;
    /*width: 100%;*/
}

input {
    visibility: hidden;
    z-index: -1;
}

.anim-ck{
   /* box-sizing: border-box;*/
    z-index: 1;
    margin: 0;
    margin-left: -0.5rem;
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    cursor: pointer;
    & .info{
        display: flex;
        align-items: flex-end;
        width: 100%;
        &__description{
            @include flex-col-gap($size: 0.25rem);
            width: 90%;
            padding: 0.5rem 0;
            white-space: nowrap;
            overflow: hidden;
            &--title, &--details{
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &__price{
            width: 20%;
            max-width: 3rem;
            text-align: left;
            margin-bottom: 0.5rem;
            /*background-color: pink;*/
        }
    }
    & .trslt{
        display: flex;
        width: 20%;
        min-width: 3.5rem;
        height: 100%;
        position: absolute;
        right: -20%;
   }
}

.ckbox{
    width: 100%;
    height: 100%;
   /* min-width: 3rem;*/
    padding: 1rem 0;
    background-color: $color-tertiary;
    position: relative;
    & .checkmark{
        position: absolute;
        top: 1.5rem;
        left: 1rem;
        height: 1.25rem;
        width: 1.25rem;
        background-color: $color-white;
        border-radius: 20rem;
        &::after{
            content:"";
            position: absolute;
           /* display: none;*/
           display: block;
        top: 0.2rem;
        left: 0.4rem;
        width: 0.25rem;
        height: 0.5rem;
        border: solid $color-tertiary;
        border-width: 0 0.1875rem 0.1875rem 0;
        transform: rotate(46deg);
        }
    }
}
/*
input[type="checkbox"]:checked ~.anim-ck >.trslt>.ckbox >.checkmark::after{
    display: block;
    top: 0.2rem;
    left: 0.4rem;
    width: 0.25rem;
    height: 0.5rem;
    border: solid $color-tertiary;
    border-width: 0 0.1875rem 0.1875rem 0;
    transform: rotate(46deg);
}
*/


/* Animation quand la checkbox est cochée */ /*Aimation quand la checkbox est décochée */

input[type="checkbox"]:checked{
    + .anim-ck{
        .info{
            animation: shrinkI 350ms 50ms ease-in-out forwards;
            &__description{
                &--title, &--details{
                animation: shrinkID 350ms 100ms ease-in-out forwards;
                }
            }
        }
        .trslt{ 
           /* &__ckbox{ */
            animation: moveLeftCk 350ms ease-in-out forwards;
            transform-origin: right;
            .checkmark::after{
                animation: spin 350ms ease-in-out;
                animation-iteration-count:1;
            }
        }
    }
}

input[type="checkbox"]:not(:checked){
    + .anim-ck{
        .info{
            animation: growI 300ms ease-in-out;
            &__description{
                &--title, &--details{
                animation: growID 300ms ease-in-out;
                }
            }
        }
        .trslt{
            animation: moveRightCk 300ms ease-in-out;
        }
    }
}

@keyframes spin{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes shrinkI{
    from{
        width: 100%;
    }
    to{
        width: 85%;
    }
}

@keyframes shrinkID{
    from{
        width: 100%;
    }
    to{
        width: 95%;
    }
}

@keyframes growI{
    from{
        width: 85%;
    }
    to{
        width: 100%;
    }
}

@keyframes growID{
    from{
        width: 95%;
    }
    to{
        width: 100%;
    }
}

@keyframes moveLeftCk{
    0%{
    transform: translateX(0);
    }
    100%{
    transform: translateX(-80%);
    }
}

@keyframes moveRightCk{
    0%{
    transform: translateX(-80%);
    }
    100%{
    transform: translateX(0%);
    }
}



/*-- Animation: apparition progressive des différents plats --*/

$anim-delay: 350ms;
$anim-dur: 1220ms; /* durée totale de l'animation sur un .item */

.box{
    animation: hidding 20ms 0ms ease-in-out both, fadeInB 1000ms 220ms forwards;
    @for $i from 1 through 3 {
        &--#{$i}{
            animation-delay: ($anim-delay * 4) * ($i - 1) + $anim-delay * ($i);
            & .item{
                animation: hidding 20ms 20ms ease-in-out both, fadeInI 1000ms 220ms forwards, moveUp 1000ms 220ms forwards;
                @for $j from 1 through 4 {
                    &--#{$j}{
                        animation-delay: $anim-delay * $j + ($anim-delay * 4) * ($i - 1) + $anim-delay * ($i);
                    }
                }
            }
        }
    }
}

@keyframes hidding{
    0%, 100% {
        opacity: 0;
    }
}

@keyframes fadeInB {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeInI {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0.05;
    }
    100%{
        opacity: 1;
    }
}

@keyframes moveUp{
    0%{
        transform: translateY(0em);
        }
    100%{
        transform: translateY(-1em);
    }
}
