@import "../Utils/variables";
@import "../Utils/functions";
@import "../Utils/mixins";


/* Div "Restaurant" */
.restaurant{
    position: relative;
    &__img{
        width: 100%;
        height: 20rem;
        object-fit: cover;
    }
    &__name{
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding: 1.5rem 1rem 0.5rem 1rem;
        background-color: $color-background;
        border-radius: $radiusXL $radiusXL 0 0;
        h1{
           /* @include border; */
            margin-bottom: 0;
        }
        @include MediumScreen-only{
            margin: auto;
            width: 80%;
        }
        @include LargeScreen-only{
            margin: auto;
            width: 90%;
        }
    }
}