/*@mixin rounded-corner($radius: $radius-d){
    border-radius: $radius;
}*/

@mixin shadow($mapKey: mapGetShadow(card), $color: none){
    box-shadow: ($mapKey $color);
}
/*
@mixin bouton{
    display: block;
    text-align: center;
    color: $color-white;
    background-image: $gradient;
    text-decoration: none;
    padding: $padBouton;
    border-radius: 5rem;
}
*/
@mixin heartFilled{
    background: -webkit-#{$gradient-heart};
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin font-title{
    font-family: $font-logo, 'cursive';
    font-weight: map-get($map: $fw, $key: regular);
}

@mixin flex-col-gap($size: $gs-d){
        display: flex;
        flex-direction: column;
        gap: $size;
}

@mixin border{
    border: 1px solid red;
}


@mixin SmallScreen-only{
    @media screen and (max-width: map-get($map: $breakpoints, $key: smallMax)) {
        @content;
    }
}


@mixin SmallAndMediumScreen{
    @media screen and (max-width: map-get($map: $breakpoints, $key: mediumMax)) {
        @content;
    }
}

@mixin MediumScreen-only{
    @media screen and (min-width: map-get($map: $breakpoints, $key: mediumMin )) and (max-width: map-get($map: $breakpoints, $key: mediumMax)) {
        @content;
    }
}

@mixin MediumAndLargeScreen{
    @media screen and (min-width: map-get($map: $breakpoints, $key: mediumMin)) {
        @content;
    }
}

@mixin LargeScreen-only{
    @media screen and (min-width: map-get($map: $breakpoints, $key: largeMin)) {
        @content;
    }
}



/*
@mixin MediumAndLargeScreen{
    @media screen and (min-width: map-get($map: $breakpoints, $key: mediumMin)) {
        @content;
    }
}

@mixin LargeScreen-only{
    @media screen and (min-width: map-get($map: $breakpoints, $key: largeMin)) {
        @content;
    }
}*/