$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background: #f6f6f6;
$color-white: #fff;
$color-black: #000;
$color-footer:#535353;

$angle-d: 175deg;
$angle-heart: $angle-d - 115deg;
$gradient: linear-gradient($angle-d, $color-secondary, $color-primary);
$gradient-heart: linear-gradient($angle-heart, $color-secondary, $color-primary);

$font-text: 'Roboto';
$font-logo: 'Shrikhand';

$fw: (thin: 100, light: 300, regular: 400, medium: 500, bold: 700, black: 900);

$size-d: 1rem;
$fs-d: $size-d;
$gs-d: $size-d;

$opaHeart: 1;
$opaHeart-inv: 1 - $opaHeart;

$padHome: 1.75rem 5% 5rem 5%;
$padBouton: 1rem 2rem 1rem 2rem;

$shadow: (
    default: (0 0 0),
    bouton: (0 0.3rem 0.75rem),
    boutonAft: (0 0.1rem 0.5rem),
    card: (0 0.3rem 0.3rem),
    header: (0 3px 2px),
    item: (0 0.3rem 0.3rem),
    liFct: (0 0.25rem 0.875rem)
);

$fsTitles: (localisation: 1.4375rem, mainh2: 1.4375rem, footer: $fs-d, name: 1.625rem, formBox: 1.275rem);
$fsAnimCk: (title: 1.0625rem, details: 0.875rem, price: 0.875rem);
$fsLiFct: (nbAfter: 0.8rem, img:1.25rem, imgAfter: 1.25rem, text: $fs-d);
$fsCard: (title: 1.1rem, place: $fs-d);
$fs: (bouton: 0.875rem, heart: 1.25rem, new: 0.8rem);

$fs1: 0.8rem;
$fs2: 0.875rem;
$fs3: 0.925rem;
$fs4: 1.0625rem;
$fs5: 1.0625rem; /* p dans localisation__bottom  1.1rem*/
$fs6: 1.25rem;
$fs7: 1.4375rem;
$fs8: 1.5rem;
$fs9: 1.825rem;
$fsLoader: 2.825rem;

$radiusXS: 0.1rem;
$radiusS: 0.825rem;
$radiusM: 1rem;
$radiusL: 1.25rem;
$radiusXL: 1.5rem;
$radius2XL: 5rem;
$radius3XL: 20rem;

/*
padding: 0.5rem 0;
padding: 0.825rem 0.5rem;
padding: 0.4rem 0.725rem 0.3rem 0.725rem;
padding: 1rem 0;
padding: 0.05rem 0.1rem;
padding: 1.5rem;
padding: 0.5rem;
padding: 0;
padding: 1.5rem 1rem 0.5rem 1rem;
*/
/*
$breakpoints: (mobile: 768px, tablet: 1023px, desktop: 1024px);
*/
$breakpoints: (
    smallMin: 0px,
    smallMax: 767px,
    mediumMin: 768px,
    mediumMax: 991px,
    largeMin: 992px,
    largeMax: 1199px,
    extraLargeMin: 1200px
    );