// Variables couleurs
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background: #f6f6f6;
$color-white: #fff;
$color-black: #000;
$color-footer:#535353;

// Variables angles
$angle-d: 175deg;
$angle-heart: $angle-d - 115deg;
$gradient: linear-gradient($angle-d, $color-secondary, $color-primary);
$gradient-heart: linear-gradient($angle-heart, $color-secondary, $color-primary);

// Variables fonts
$font-text: 'Roboto';
$font-logo: 'Shrikhand';

// Map pour les font-weight
$fw: (thin: 100, light: 300, regular: 400, medium: 500, bold: 700, black: 900);

// Variables de tailles par défaut
$size-d: 1rem;
$fs-d: $size-d;
$gs-d: $size-d;

// Variables pour l'opacité du composant Heart
$opaHeart: 1;
$opaHeart-inv: 1 - $opaHeart;

// Map pour les ombres de boîtes
$shadow: (
    default: (0 0 0),
    bouton: (0 0.3rem 0.75rem),
    boutonAft: (0 0.1rem 0.5rem),
    card: (0 0.3rem 0.3rem),
    header: (0 3px 2px),
    item: (0 0.3rem 0.3rem),
    liFct: (0 0.25rem 0.875rem)
);

// Maps et variables pour les font-size
$fsTitles: (localisation: 1.4375rem, mainh2: 1.4375rem, name: 1.6875rem, formBox: 1rem);
$fsAnimCk: (title: 1.1rem, details: 0.9375rem, price: 0.875rem);
$fsLiFct: (nbAfter: 0.8rem, img1: 1.1875rem, img: 1.0625rem, text: 0.9375rem);
$fsCard: (title: 1.1rem, place: $fs-d);
$fs: (bouton: 0.9375rem, heart: 1.25rem, new: 0.8rem);
$fsFooter: (li: 1rem, a: 0.875rem, fas: 0.75rem);
$fsLocalisation: (place: 0.925rem, fas: 1rem, pBottom: 1.0625rem);
$fsLoader: 2.825rem;


// Variables pour les tailles d'arrondis des coins des boîtes
$radiusXS: 0.1rem;
$radiusS: 0.825rem;
$radiusM: 1rem;
$radiusL: 1.25rem;
$radiusXL: 1.5rem;
$radiusN: 2.5rem;
$radius2XL: 5rem;
$radius3XL: 20rem;

/*
padding: 0.5rem 0;
padding: 0.825rem 0.5rem;
padding: 0.4rem 0.725rem 0.3rem 0.725rem;
padding: 1rem 0;
padding: 0.05rem 0.1rem;
padding: 1.5rem;
padding: 0.5rem;
padding: 0;
padding: 1.5rem 1rem 0.5rem 1rem;
*/

// Variables de padding
$padHome: 1.75rem 5% 2.75rem 5%;
$padBouton: 1rem 2rem 1rem 2rem;


// Map des breakpoints
$breakpoints: (
    smallMin: 0px,
    smallMax: 767.98px,
    mediumMin: 768px,
    /*mediumMax: 1023px,*/
    mediumMax: 991.98px,
    largeMin: 992px,
  /*  largeMax: 1199px,*/
 /*   largeMin: 1024px,*/
    extraLargeMin: 1200px
    );