$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background: #f6f6f6;
$color-background-dken: darken($color-background, 5%);
$color-white: #fff;
$color-footer:#535353;

$angle-d: 175deg;
$angle-heart: $angle-d - 115deg;
$gradient: linear-gradient($angle-d, $color-secondary, $color-primary);
$gradient-heart: linear-gradient($angle-heart, $color-secondary, $color-primary);

$font-text: 'Roboto';
$font-logo: 'Shrikhand';

$fw100: 100;
$fw400: 400;
$fw500: 500;
$fw600: 600;
$fw900: 900;

$size-d: 1rem;
$fs-d: $size-d;
$gs-d: $size-d;
$radius-d: $size-d;

$opaHeart: 1;
$opaHeart-inv: 1 - $opaHeart;
