@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&family=Shrikhand&display=swap");
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
h3 {
  font-size: 1rem;
  font-weight: 600;
}

body {
  font-family: "Roboto", sans-serif;
}

/*-- typography components --*/
.btn {
  font-weight: 500;
}

.card__bottom .info h3 {
  font-size: 1.1rem;
}
.card .new {
  font-size: 0.8rem;
  font-weight: 500;
}

.heart .fa-heart {
  font-size: 1.25rem;
  transform: scale(1.1, 1.2);
}

/*-- typography layout --*/
body {
  font-size: 1rem;
  font-weight: 400;
}

h4 {
  font-family: "Shrikhand", "cursive";
  font-weight: 100;
}

/*-- typography page home --*/
.selection__localisation {
  font-size: 0.925rem;
  font-weight: 600;
}
.selection__localisation .fas {
  font-size: 1rem;
}
.selection h1 {
  font-size: 1.5rem;
  font-weight: 900;
}
.selection > p {
  font-size: 1.1rem;
}
.selection .btn {
  font-size: 0.875rem;
}

.fonctionnement h2 {
  font-size: 1.5rem;
}

/*-- typography page menu --*/
form h2 {
  font-weight: 400;
  text-transform: uppercase;
}

.anim-ck .info__title {
  font-size: 1.0625rem;
  font-weight: 600;
}
.anim-ck .info__details {
  font-size: 0.875rem;
}
.anim-ck .trslt .price {
  font-size: 0.875rem;
  font-weight: 500;
}

.heart {
  z-index: 2;
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  padding: 0.05rem 0.1rem;
  cursor: pointer;
  border: none;
  background-color: white;
}
.heart--InTitle {
  background-color: #f6f6f6;
}
.heart:not(:active) .fa-heart {
  /*
  &--edge{
      animation: fadeIntH 800ms alternate ease-in-out;

     animation: fadeInH 800ms ease-in-out paused;
    transition: opacity 1000ms step-end;
  }*/
}
.heart:not(:active) .fa-heart--filled {
  animation: fadeInH 800ms ease-in-out forwards;
  /*     animation: fadeOutH 800ms ease-in-out paused backwards; 
       transition: opacity 1000ms 800ms step-start;*/
}
.heart:active .fa-heart {
  /*
  &--filled{
      animation: fadeInH 800ms ease-in-out running forwards;
      animation: fadeOutH 800ms ease-in-out running;
      transition: opacity step-start;
      animation: fadeOnH 400ms ease-in-out;
  }*/
}
.heart:active .fa-heart--edge {
  /* animation: fadeOutH 800ms ease-in-out paused forwards;*/
  /*   animation: fadeInH 800ms ease-in-out running;*/
  /*  transition: opacity 1000ms step-start;*/
  /* animation: fadeInH 40ms ease-in-out;*/
}
.heart .fa-heart {
  color: #9356DC;
  display: block;
}
.heart .fa-heart--edge {
  color: #000;
  opacity: 1;
}
.heart .fa-heart--filled {
  position: absolute;
  z-index: -1;
  bottom: 0;
  /*  right: 0.11rem;*/
  opacity: 0;
  background: -webkit-linear-gradient(175deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes fadeOutH {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInH {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*
&::after{
    z-index: -1;
    font-family: 'Font Awesome 5 Free';
    content:'\f004';
    opacity: 1;
    transform: scale(1.1, 1.2);

    right: 2rem;
}*/
.item {
  border-radius: 0.825rem;
  box-shadow: 0 0.3rem 0.3rem #d0d0d0;
  background-color: #fff;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

.dish {
  display: flex;
  width: 120%;
}

input {
  visibility: hidden;
  z-index: -1;
}

.anim-ck {
  box-sizing: border-box;
  z-index: 1;
  margin: 0;
  margin-left: -0.5rem;
  width: 120%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
  /*column-gap: 0.5rem;*/
  align-items: center;
  cursor: pointer;
}
.anim-ck .info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 90%;
  padding: 0.5rem 0 0.5rem 0;
  white-space: nowrap;
  overflow: hidden;
}
.anim-ck .info__title, .anim-ck .info__details {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.anim-ck .trslt {
  display: flex;
  width: 35%;
  height: 100%;
  background-color: pink;
}
.anim-ck .trslt .price {
  width: 40%;
  text-align: left;
  padding-top: 2rem;
}

.ckbox {
  width: 60%;
  height: 100%;
  /* min-width: 3rem;*/
  padding-top: 1rem;
  padding-bottom: 1rem;
  /*padding-left: 0.8rem;*/
  background-color: #99E2D0;
  border-radius: 0 1rem 1rem 0;
  position: relative;
}
.ckbox .checkmark {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  height: 1.25rem;
  width: 1.25rem;
  background-color: white;
  border-radius: 20rem;
}
.ckbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

input[type=checkbox]:checked ~ .anim-ck > .trslt > .ckbox > .checkmark::after {
  display: block;
  top: 0.2rem;
  left: 0.4rem;
  width: 0.25rem;
  height: 0.5rem;
  border: solid #99E2D0;
  border-width: 0 0.1875rem 0.1875rem 0;
  transform: rotate(46deg);
}

input[type=checkbox]:checked ~ .anim-ck .info__title, input[type=checkbox]:checked ~ .anim-ck .info__details {
  animation: widthI 2s ease-in-out forwards;
}
input[type=checkbox]:checked ~ .anim-ck > .trslt {
  animation: moveRight 2s 0ms ease-in-out;
  transform-origin: right;
  animation-fill-mode: forwards;
}

@keyframes hidding {
  0%, 100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.05;
  }
  100% {
    opacity: 1;
  }
}
@keyframes widthI {
  from {
    width: 100%;
  }
  to {
    width: 70%;
  }
}
@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* Div "Restaurant" */
.restaurant {
  position: relative;
}
.restaurant img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}
.restaurant__name {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 1.5rem 1.5rem 0 0;
  /*border: 1px solid black;*/
}
.restaurant__name h1 {
  font-family: "Shrikhand", "cursive";
  font-weight: 100;
  border: 1px solid black;
}

/* Formulaire */
.box__title {
  font-size: 1.275rem;
  text-transform: uppercase;
  display: block;
  margin: 1.5rem 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* durée totale de l'animation sur un .item */
.box {
  animation: hidding 20ms 0ms ease-in-out both, fadeInB 1000ms 220ms forwards;
}
.box--1 {
  animation-delay: 350ms;
}
.box--1 .item {
  animation: hidding 20ms 20ms ease-in-out both, fadeInI 1000ms 220ms forwards, moveUp 1000ms 220ms forwards;
}
.box--1 .item--1 {
  animation-delay: 700ms;
}
.box--1 .item--2 {
  animation-delay: 1050ms;
}
.box--1 .item--3 {
  animation-delay: 1400ms;
}
.box--1 .item--4 {
  animation-delay: 1750ms;
}
.box--2 {
  animation-delay: 2100ms;
}
.box--2 .item {
  animation: hidding 20ms 20ms ease-in-out both, fadeInI 1000ms 220ms forwards, moveUp 1000ms 220ms forwards;
}
.box--2 .item--1 {
  animation-delay: 2450ms;
}
.box--2 .item--2 {
  animation-delay: 2800ms;
}
.box--2 .item--3 {
  animation-delay: 3150ms;
}
.box--2 .item--4 {
  animation-delay: 3500ms;
}
.box--3 {
  animation-delay: 3850ms;
}
.box--3 .item {
  animation: hidding 20ms 20ms ease-in-out both, fadeInI 1000ms 220ms forwards, moveUp 1000ms 220ms forwards;
}
.box--3 .item--1 {
  animation-delay: 4200ms;
}
.box--3 .item--2 {
  animation-delay: 4550ms;
}
.box--3 .item--3 {
  animation-delay: 4900ms;
}
.box--3 .item--4 {
  animation-delay: 5250ms;
}

@keyframes hidding {
  0%, 100% {
    opacity: 0;
  }
}
@keyframes fadeInB {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInI {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.05;
  }
  100% {
    opacity: 1;
  }
}
@keyframes moveUp {
  0% {
    transform: translateY(0em);
  }
  100% {
    transform: translateY(-1em);
  }
}

/*# sourceMappingURL=menu.css.map */
