/*@function colortext($color){
    @if (lightness($color) > 25%){

        @return $color-white;
    }
}/* A REVOIR!!! ET PLACER DANS COLOR.SCSS * */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&family=Shrikhand&display=swap");
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
h3 {
  font-size: 1rem;
  font-weight: bold;
}

body {
  font-family: "Roboto", sans-serif;
}

.form h2 {
  text-transform: uppercase;
  font-weight: normal;
}

h4 {
  font-family: "Shrikhand", "cursive";
  font-weight: 100;
}

.restaurant {
  position: relative;
}
.restaurant img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}
.restaurant__name {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 1.5rem 1.5rem 0 0;
  /*border: 1px solid black;*/
}
.restaurant__name h1 {
  font-family: "Shrikhand", "cursive";
  font-weight: 100;
  border: 1px solid black;
}

.item {
  border-radius: 1rem;
  box-shadow: 0 0.3rem 0.3rem #d0d0d0;
  background-color: #fff;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

.dish {
  display: flex;
  width: 120%;
}

input {
  visibility: hidden;
  z-index: -1;
}

.anim-ck {
  box-sizing: border-box;
  z-index: 1;
  margin: 0;
  margin-left: -0.5rem;
  width: 120%;
  height: 3.5rem;
  display: flex;
  flex-direction: row;
  /*   justify-content: space-between;*/
  /* column-gap: 0.5rem;*/
  align-items: center;
  cursor: pointer;
}
.anim-ck .info {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 80%;
  padding: 0.5rem 0 0.5rem 0;
  white-space: nowrap;
  overflow: hidden;
}
.anim-ck .info__title {
  border: 1px solid red;
  width: 95%;
  /*Pas 100% sinon overflow ne peut pas fonctionner */
  font-size: 0.95em;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}
.anim-ck .info__details {
  border: 1px solid red;
  width: 95%;
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.anim-ck .trslt {
  display: flex;
  width: 40%;
  height: 100%;
  background-color: pink;
}
.anim-ck .trslt .price {
  width: 90%;
  text-align: center;
  font-weight: bold;
  padding-top: 2rem;
}

.ckbox {
  width: 50%;
  height: 100%;
  /* min-width: 3rem;*/
  padding-top: 1rem;
  padding-bottom: 1rem;
  /*padding-left: 0.8rem;*/
  background-color: #99E2D0;
  border-radius: 0 1rem 1rem 0;
  position: relative;
}
.ckbox .checkmark {
  position: absolute;
  top: 0.825rem;
  left: 0.625rem;
  height: 2rem;
  width: 2rem;
  background-color: white;
  border-radius: 20rem;
}
.ckbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

input[type=checkbox]:checked ~ .anim-ck > .trslt > .ckbox > .checkmark::after {
  display: block;
  left: 0.6rem;
  bottom: 0.5rem;
  width: 0.45rem;
  height: 0.8rem;
  border: solid #99E2D0;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

input[type=checkbox]:checked ~ .anim-ck > .info {
  animation-name: widthP;
  animation-duration: 500ms;
  animation-delay: 0ms;
  animation-timing-function: ease-in-out;
  transform-origin: left;
  animation-fill-mode: forwards;
}
input[type=checkbox]:checked ~ .anim-ck > .info > .info__title {
  animation: widthC 500ms 0ms ease-in-out;
  /*cubic-bezier(.62,.1,.55,1);*/
  transform-origin: left;
  animation-fill-mode: forwards;
}
input[type=checkbox]:checked ~ .anim-ck > .info > .info__details {
  animation: widthC 500ms 0ms ease-in-out;
  /*cubic-bezier(.62,.1,.55,1);*/
  transform-origin: left;
  animation-fill-mode: forwards;
}
input[type=checkbox]:checked ~ .anim-ck > .trslt {
  animation: moveRight 500ms 0ms cubic-bezier(0.53, 0.11, 0.34, 1);
  transform-origin: right;
  /*  animation-direction: alternate;*/
  animation-fill-mode: forwards;
}

@keyframes widthP {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0.75);
  }
}
@keyframes widthC {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/*
@keyframes scale{
    0%{
        transform: scaleX(100%);
    }
    50%{
        transform: scaleX(80%);
        animation-timing-function: cubic-bezier(.8,.04,.52,.86);
    }
    100%{
        transform: scaleX(100%);
    }
}

@keyframes translation{
    0%{
    transform: translateX(0%);
    }
    50%{
    transform: translateX(-50%);
    animation-timing-function: cubic-bezier(.8,.04,.52,.86);
    }
    100%{
    transform: translateX(0%);
        }
}
*/

/*# sourceMappingURL=rest2.css.map */
