/*@function colortext($color){
    @if (lightness($color) > 25%){

        @return $color-white;
    }
}/* A REVOIR!!! ET PLACER DANS COLOR.SCSS * */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&family=Shrikhand&display=swap");
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
h3 {
  font-size: 1rem;
  font-weight: bold;
}

body {
  font-family: "Roboto", sans-serif;
}

.form h2 {
  text-transform: uppercase;
  font-weight: normal;
}

h4 {
  font-family: "Shrikhand", "cursive";
  font-weight: 100;
}

.restaurant {
  position: relative;
}
.restaurant img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}
.restaurant__name {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 1.5rem 1.5rem 0 0;
  /*border: 1px solid black;*/
}
.restaurant__name h1 {
  font-family: "Shrikhand", "cursive";
  font-weight: 100;
  border: 1px solid black;
}

.item {
  border-radius: 0.825rem;
  box-shadow: 0 0.3rem 0.3rem #d0d0d0;
  background-color: #fff;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

.dish {
  display: flex;
  width: 120%;
}

input {
  visibility: hidden;
  z-index: -1;
}

.anim-ck {
  box-sizing: border-box;
  z-index: 1;
  margin: 0;
  margin-left: -0.5rem;
  width: 120%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
  /*column-gap: 0.5rem;*/
  align-items: center;
  cursor: pointer;
}
.anim-ck .info {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 90%;
  padding: 0.5rem 0 0.5rem 0;
  white-space: nowrap;
  overflow: hidden;
}
.anim-ck .info__title {
  border: 1px solid red;
  width: 100%;
  font-size: 1.0625rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.anim-ck .info__details {
  border: 1px solid red;
  width: 100%;
  font-size: 0.875rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.anim-ck .trslt {
  display: flex;
  width: 35%;
  height: 100%;
  background-color: pink;
}
.anim-ck .trslt .price {
  width: 40%;
  text-align: left;
  font-size: 0.875rem;
  font-weight: bold;
  padding-top: 2rem;
}

.ckbox {
  width: 60%;
  height: 100%;
  /* min-width: 3rem;*/
  padding-top: 1rem;
  padding-bottom: 1rem;
  /*padding-left: 0.8rem;*/
  background-color: #99E2D0;
  border-radius: 0 1rem 1rem 0;
  position: relative;
}
.ckbox .checkmark {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  height: 1.25rem;
  width: 1.25rem;
  background-color: white;
  border-radius: 20rem;
}
.ckbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

input[type=checkbox]:checked ~ .anim-ck > .trslt > .ckbox > .checkmark::after {
  display: block;
  top: 0.2rem;
  left: 0.4rem;
  width: 0.25rem;
  height: 0.5rem;
  border: solid #99E2D0;
  border-width: 0 0.1875rem 0.1875rem 0;
  transform: rotate(46deg);
}

input[type=checkbox]:checked ~ .anim-ck .info__title, input[type=checkbox]:checked ~ .anim-ck .info__details {
  animation: widthI 2s ease-in-out forwards;
}
input[type=checkbox]:checked ~ .anim-ck > .trslt {
  animation: moveRight 2s 0ms ease-in-out;
  transform-origin: right;
  animation-fill-mode: forwards;
}

@keyframes widthI {
  from {
    width: 100%;
  }
  to {
    width: 70%;
  }
}
@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/*# sourceMappingURL=rest2.css.map */
