header{
   /* a {
        display: none;
    }*/
}

.selection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__localisation{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: darken($color-background, 5);
        .fas {
            margin-right: 1em;
        }
    }
    .btn{
        display: block;
        text-align: center;
        color: #fff;
        background-color: $color-primary;
        text-decoration: none;
        padding: 1rem 2rem 1rem 2rem;
        border-radius: 5rem;
    }
}