/*header{
    a {
        display: none;
    }
}*/
body{
    z-index: -1;
    position: relative;
    &::after{
        content: "";
        width: 100%;
        background-color: red;
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        animation: lspinner 3s;
    }
}

header, .main, footer{
    animation: hidding 3s;
  }
  
  
@keyframes hidding{
    0%, 100% {
        opacity: 0;
    }
}
  

@keyframes lspinner{
    0%, 100%{
        opacity: 1;
    }
}




.selection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__localisation{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: darken($color-background, 5%);
        .fas {
            margin-right: 1em;
        }
    }
}

.fonctionnement{
    ol{
        list-style-position: inside;
        @include flex-col-gap;
        li{
        background-color: $color-background;
        @include rounded-corner;
        @include shadow(0, 0.3rem, 0.3rem, darken($color-background, 15%));
        border: 1px solid black;
        }
    }
}

.card-container{
    @include flex-col-gap;
    padding: 2rem 1rem 2rem 1rem;
}

#resto3, #resto4{
    .new{
        display: none;
    }
}
