/*header{
    a {
        display: none;
    }
}*/

.selection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__localisation{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: darken($color-background, 5%);
        .fas {
            margin-right: 1em;
        }
    }
}

.fonctionnement{
    ol{
        list-style-position: inside;
        @include flex-col-gap;
        li{
        background-color: $color-background;
        @include rounded-corner;
        border: 1px solid black;
        }
    }
}

.card-container{
    @include flex-col-gap;
    padding: 2rem 1rem 2rem 1rem;
}

#resto3, #resto4{
    .new{
        display: none;
    }
}
