@import "../1_Utils/variables";
@import "../1_Utils/functions";
@import "../1_Utils/mixins";
@import "../1_Utils/placeholders";


header{
    a {
        display: none;
    }
}

body{
    margin: 0;
    z-index: 1;
    position: relative;
    &::after{
        content: "";
        width: 100%;
        background-color: red;
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        animation: lspinner 300ms; /* de 1 à 3s */
    }
    & header, main, footer{
        opacity: 1;
        animation: hidding 300ms; /* de 1 à 3s */
    }
}

   
@keyframes hidding{
    0%, 100% {
        opacity: 0;
    }
}
  
@keyframes lspinner{
    0%, 100%{
        opacity: 1;
    }
}




.selection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3.5rem;
    &__localisation{
        display: flex;
        justify-content: center;
        font-size: 0.925rem;
        font-weight: 600;
        width: 100%;
        text-align: center;
        padding-top: 0.875rem;
        padding-bottom: 0.875rem;
        background-color: $color-background-dken;
        .fas {
            font-size: $font-size;
            margin-right: $size-d;
        }
        span{
            text-align: left;
        }
    }
    h1{
        width: 70%;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 900;
        margin-top: 2rem;
        margin-bottom: $size-d;
    }
    > p {
        width: 90%; 
        text-align: center;
        font-size: 1.1rem;
        margin-top: 0;
        margin-bottom: 2rem;
    }
    .btn{
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        font-size: 0.875rem;
    }
}

.fonctionnement{
    margin-top: 0;
    padding: 1.75rem 5%;
    h2{
        font-size: 1.5rem;
    }
    ol{
        list-style-position: inside;
        @include flex-col-gap;
        li{
        @include border;
        background-color: $color-background;
        @include rounded-corner;
        @include shadow(0, 0.3rem, 0.3rem, darken($color-background-dken, 10%));
        }
    }
}

.restaurants{
    margin-top: 0;
    padding: 1.75rem 5%;
}

.card-container{
    @include flex-col-gap;
}

#resto3, #resto4{
    .new{
        display: none;
    }
}
