@import "../1_Utils/variables";
@import "../1_Utils/functions";
@import "../1_Utils/mixins";
@import "../1_Utils/placeholders";

@import "../3_Base/fonts";


.restaurant{
    position: relative;
    img{
        width: 100%;
        height: 20rem;
        object-fit: cover;
    }
    &__name{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: $color-background;
        border-radius: 1.5rem 1.5rem 0 0;
        /*border: 1px solid black;*/
        h1{
            @include font-title;
            border: 1px solid black;
        }
    }
}

.item{
    @include rounded-corner($size:1rem);
    @include shadow(0, 0.3rem, 0.3rem, darken($color-background, 15%));
    background-color: $color-white;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

.dish{
    display: flex;
    width: 120%;
}

input {
    visibility: hidden;
    z-index: -1;
}

.anim-ck{
    z-index: 1;
    margin: 0;
    margin-left: -0.5rem;
    width: 120%;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    & .info{
        @include flex-col-gap($size: 0.5rem);
        width: 80%;
        padding: 0.5rem;
        white-space: nowrap;
        overflow: hidden;
        &__title{
            font-size: 0.95em;
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &__details{
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 0.8rem;
        }
    }
    & .trslt{
        display: flex;
        width: 40%;
        height: 100%;
        background-color: pink;
        & .price{
            width: 50%;
            text-align: center;
            font-weight: bold;
            padding-top: 2rem;
        }
   }
}

.ckbox{
    width: 50%;
    height: 100%;
   /* min-width: 3rem;*/
    padding-top: 1rem;
    padding-bottom: 1rem;
    /*padding-left: 0.8rem;*/
    background-color: $color-tertiary;
    border-radius: 0 $radius $radius 0;
    position: relative;
    & .checkmark{
        position: absolute;
        top: 0.825rem;
        left: 0.625rem;
        height: 2rem;
        width: 2rem;
        background-color: white;
        border-radius: 20rem;
        &::after{
            content:"";
            position: absolute;
            display: none;
        }
    }
}

input[type="checkbox"]:checked ~.anim-ck >.trslt>.ckbox >.checkmark::after{
    display: block;
    left: 0.6rem;
    bottom: 0.5rem;
    width: 0.45rem;
    height: 0.8rem;
    border: solid $color-tertiary;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
}


input[type="checkbox"]:checked{
    ~.anim-ck{
        >.info{
            animation-name: largeur-p;
            animation-duration: 500ms;
            animation-timing-function: ease-in-out;
            transform-origin: 0;
            animation-fill-mode: forwards;
            >.info__title, >.info__details {
                animation: largeur-c 500ms cubic-bezier(.62,.1,.55,1);
                transform-origin: 0;
                width: 70%;
              /*  animation: moveRight 500ms cubic-bezier(.53,.11,.34,1);
            transform-origin: right;*/
                animation-fill-mode: forwards;
            }
        }
        >.trslt{
            animation: moveRight 500ms cubic-bezier(.53,.11,.34,1);
            transform-origin: right;
          /*  animation-direction: alternate;*/
            animation-fill-mode: forwards;
        }
    }
}

@keyframes largeur-p{
    0%{
        transform: scaleX(1);
    }
    100%{
        transform: scaleX(0.7);
    }
}
@keyframes largeur-c{
    0%{
        transform: scaleX(1);
    }
    100%{
        transform: scaleX(1.45);
    }
}

@keyframes moveRight{
    0%{
    transform: translateX(0%);
    }
    100%{
    transform: translateX(-50%);
    }
}

/*
@keyframes scale{
    0%{
        transform: scaleX(100%);
    }
    50%{
        transform: scaleX(80%);
        animation-timing-function: cubic-bezier(.8,.04,.52,.86);
    }
    100%{
        transform: scaleX(100%);
    }
}

@keyframes translation{
    0%{
    transform: translateX(0%);
    }
    50%{
    transform: translateX(-50%);
    animation-timing-function: cubic-bezier(.8,.04,.52,.86);
    }
    100%{
    transform: translateX(0%);
        }
}
*/